.hero-page {
  flex-flow: column;
  margin: 0;
  color: white;
  position: relative;
}

#content-box {
  flex-flow: row;
  margin: auto;
  z-index: 3;
}

.hero-page,
#content-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  min-width: 100vw;
}

#spline-clouds {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 2;
}

p {
  width: 30vw;
}

#link-box {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: rgba(229, 229, 229, 0.18);
  border-radius: 20px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 0.4px solid rgba(245, 245, 245, 0.216);
}

.link-element {
  width: 100px;
  aspect-ratio: 2/1;
  box-sizing: border-box;
  background: rgba(217, 217, 217, 0.18);
  border-radius: 17px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
