.link{
    grid-row: 1;
    grid-column: 1 / -1;
    display: flex;
    flex-flow: row;
    justify-content: end;
    margin: 4%;
    z-index: 200;
}
.link > a{
    display: flex;
    padding: 3px;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}
.link > a:hover{
    color: var(--green-color);
    transform: scale(1.09);
}

a,p{
    color: rgb(73, 73, 73);
    text-decoration: none;
    text-align: center;
    text-shadow: 3px 3px 5px #0000003a;
    font-size: 1.12em;
    margin: 9px;
}

@media screen and (max-width: 560px) {
    .link > a{
        font-size: 1.01rem;
        word-wrap: break-word;
    }
}

/* Tool Tip */

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #5ea576a9;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #5ea576a9 transparent;
  }

  .tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip:hover .tooltiptext {
    opacity: 1;
  }