@property --myColor {
  syntax: "<color>";
  inherits: true;
  initial-value: #1fd1f466;
}

@property --myColor2 {
  syntax: "<color>";
  inherits: true;
  initial-value: #1401e3;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: hsl(306, 36%, 95%);
}

.intro::before {
  content: "";
  position: absolute;
  transform: translate(-150%);
  width: 400px;
  aspect-ratio: 1;
  background: radial-gradient(circle at center, var(--myColor2), var(--myColor));
  background-color: var(--myColor);
  transition: 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 0;
  filter: blur(180px);
  border-radius: 50%;
  animation: to-left infinite alternate ease-in-out 18s;
}

.intro {
  display: flex;
  max-width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 50px auto;
}

.intro img {
  box-sizing: border-box;
  width: 40%;
  max-width: 300px;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px #d9d0d8,
    -5px -5px 10px #ffffff;
  z-index: 2;
  mix-blend-mode: color-burn;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  z-index: 2;
}

.hero>div {
  box-sizing: border-box;
  padding: 10px 20px;
  aspect-ratio: 1;
  height: 50dvh;
  border-radius: 1rem;
  background: linear-gradient(145deg, #ffffff, #e6dde5);
  box-shadow: 5px 5px 10px #d9d0d8,
    -5px -5px 10px #ffffff;
  z-index: 2;
}

.hero>div:nth-child(1) {
  animation: fade-in-left linear forwards;
  animation-timeline: view();
  transform: translateY(0) translateX(-100px) rotateZ(-2deg);
}

.hero>div:nth-child(2) {
  animation: fade-in-right linear forwards;
  animation-timeline: view();
  transform: translateY(0) translateX(100px) rotateZ(2deg);
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateY(20px) translateX(-300px) rotateZ(-180deg);
  }

  60% {
    opacity: 1;
    transform: translateY(0) translateX(-100px) rotateZ(-2deg);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateY(20px) translateX(300px) rotateZ(180deg);
  }

  60% {
    opacity: 1;
    transform: translateY(0) translateX(100px) rotateZ(2deg);
  }
}

@keyframes clr {
  0% {
    background-color: #ff0000;
  }

  16% {
    background-color: #ffa500;
  }

  32% {
    background-color: #ffff00;
  }

  48% {
    background-color: #008000;
  }

  64% {
    background-color: #0000ff;
  }

  80% {
    background-color: #4b0082;
  }

  100% {
    background-color: #ee82ee;
  }
}

@keyframes to-left {
  100% {
    transform: translate(150%);
    width: 100vw;
  }
}

@media (max-width: 600px) {
  .intro {
    flex-flow: wrap-reverse;
    gap: 10px;
  }
}

@media (min-width: 600px) {
  .intro {
    gap: 80px;
  }
}

@media (max-width: 800px) and (min-width: 600px) {
  .intro {
    gap: 5px;
    flex-flow: wrap-reverse;
  }
}