@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.main-page{
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 100vw;
  margin: 0;
  color: white;
}

.heading-container{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  z-index: 3;
}

h1{
  font-size: 75px;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0px;
  line-height: 0.85em;
  font-family: 'Roboto Mono', monospace;
  color: rgb(224, 216, 216);
}

h4{
  font-size: 15px;
  font-weight: 400;
  word-wrap: break-word;
  max-width: 900px;
  margin: 30px auto 50px auto;
  line-height: 1.2em;
  font-family: 'Nunito Sans', sans-serif;
  color: rgb(216, 204, 204);
  padding: 10px;
  margin-bottom: 22px;
}

#generate-button{
  transition: 300ms;
  z-index: 5;
  color: #F07164;
  border-color: #F07164;
  border-radius: 13px;
  font-family: 'Roboto Mono', monospace;
}

#generate-button:hover{
  color: #FFF;
  background-color: #F07164;
}

#key-word{
  color: #F07164;
}

#main-earth{
  position: absolute;
  z-index: 1;
  width: 400px;
  aspect-ratio: 1;
  right: 130px;
  top: 50px;
  mix-blend-mode: color-dodge;
  /* mix-blend-mode:multiply ; */
}

#main-spaceman{
  position: absolute;
  z-index: 1;
  width: 200px;
  left: 240px;
  bottom: 80px;
  mix-blend-mode: color-dodge;
  animation: float infinite 3s ease-in-out;
}

@keyframes float {
  0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); } 
}

#bg{
  position: absolute;
  width: 100vw;
  bottom: 0;
  height: 250px;
  mix-blend-mode: color-dodge;
}