.main-page{
  background: #1E1E1E;
  background: linear-gradient(to bottom right, #f5f3f11a, #101515), #0e0e0e;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 100vw;
  margin: 0;
  color: white;
}

.heading-container{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  z-index: 3;
}

h1{
  font-size: 75px;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0px;
  line-height: 0.85em;
}

h4{
  font-size: 15px;
  font-weight: 400;
  word-wrap: break-word;
  max-width: 900px;
  margin: 30px auto 50px auto;
  line-height: 1.2em;
}

#generate-button{
  z-index: 5;
  color: #F07164;
  border-color: #F07164;
  border-radius: 13px;
}

#generate-button:hover{
  color: #FFF;
  background-color: #F07164;
}

#key-word{
  color: #F07164;
}

#main-earth{
  position: absolute;
  z-index: 1;
  width: 400px;
  aspect-ratio: 1;
  right: 130px;
  top: 50px;
  mix-blend-mode: color-dodge;
}

#main-spaceman{
  position: absolute;
  z-index: 1;
  width: 200px;
  left: 240px;
  bottom: 80px;
  mix-blend-mode: color-dodge;
  animation: float infinite 2.5s alternate ease-in-out;
}

@keyframes float {
  0%{
    bottom: 80px;
  }
  100%{
    bottom: 70px;
  }
}

#bg{
  position: absolute;
  width: 100vw;
  bottom: 0;
  mix-blend-mode: color-dodge;
}