@import '/style/SecondaryStyle/rootFile.css';
@import '/style/SecondaryStyle/footer.css';
@import '/style/SecondaryStyle/link.css';

html{
  opacity: 0;
  transition: opacity 1s ease-in;
}
body{
    background: #e0dad54f;
    background-repeat: no-repeat;
    font-family: var(--main-font);
    display: grid;
    grid-template-rows: 1fr 1fr auto auto;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    margin: 0;
}
.intro{
    display: flex;
    grid-row: 2;
    grid-column: 2 / 13;
    align-content: center;
    font-size: 22px;
    padding: 2% 0;
}
.intro > h1{
    margin: 2%;
}
.descr{
    grid-row: 3;
    grid-column: 3 / 11;
    margin-bottom: 10%;
}
#descr{
    margin: auto;
    padding: 50px;
}
.extraParagraphPic{
    display: flex;
    width: 200px;
    margin: auto;
}
#🔥:hover{
    color: var(--green-color);
    text-shadow: none;
}
.footer{
    margin: 0;
    background-color: #345a40;
    grid-row: 4;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}
