@import '/style/SecondaryStyle/rootFile.css';
@import '/style/SecondaryStyle/projectCard.css';
@import '/style/SecondaryStyle/footer.css';
@import '/style/SecondaryStyle/link.css';


/* Main Design*/

body{
    display: block;
    min-width: 100%;
    background: #e0dad54f;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: var(--main-font);
    margin: 0;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2.2em;
}
h6{
    margin: auto;
    text-align: center;
    padding: 5%;
}
#welcome{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#main{
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: none;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.1fr 0.12fr 1fr 0.6fr 0.8fr auto;
    opacity: 0;
    transition: opacity 1s ease-in;
}
#intro{
    grid-row: 2;
    grid-column: 2 / -1;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 0;
}
#first-sec{
    grid-row: 3;
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    overflow-x: scroll;
    background-image: url('/images/plantBckgrnd.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10%;
}
#mid-sec{
    grid-row: 4;
    grid-column: 1 / -1;
    display: flex;
    border-radius: 5px;
    align-items: center;
    flex-flow: row;
    padding: 30px;
    flex-wrap: wrap;
    background-color: #e0dad565;
}
#second-sec{
    grid-row: 5;
    grid-column: 1 / -1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    text-align: center;
    background-color: #e0dad518;
}
footer{
    grid-row: 6;
    grid-column: 1 / -1;
    color: white;
    background-color: #345a40;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}


/* Intro */


#intro > h2{
    display: flex;
    flex-flow: row;
    text-align: left;
    font-size: 3rem;
    align-items: center;
    margin-bottom: 0;
}
#intro > p{
    display: flex;
    text-align: left;
    align-items: center;
    width: 70vw;
    margin-top: 20px;
    margin-left: 0;
}


/* Coding-Challenges */


#spaceSite{
    background-image:url('/images/spaceSite.png');
    background-position: center;
    background-size: cover;
  }
    
  #pineCity{
    background-image:url('/images/pineCity.png');
    background-position: center;
    background-size: cover;
  }
  #pineZoo{
    background-image:url('/images/zooSite.png');
    background-position: center;
    background-size: cover;
  }


/* Mid-sec */


#laptop-setup{
    width: 80%;
    margin: auto;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.452));
    filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.452)); 
}

#mid-sec > p{
    padding: 5%;
}


/* Media Query */

@media screen and (min-width: 1010px){
    #intro{
        margin-bottom: 5%;
    }
    #laptop-setup{
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .projectImg{
        width: 40%;
    }
}

@media screen and (max-width: 720px) {
    .projects{
        min-width: 200px;
        max-height: 300px;
        }
}

@media screen and (max-width: 560px) {
    #main{
    grid-template-rows: 0.1fr 0.6fr 1fr 0.6fr 1fr auto;
    }
    #intro > h2{
        font-size: 1.9rem;
        word-wrap: break-word;
    }
    #intro > p{
        font-size: 1.1rem;
        word-wrap: break-word;
        inline-size: 90%;
    }
    html{
        overflow-x: hidden;
    }
    #first-sec{
        flex-flow: column;
    }
    #second-sec{
        background-color: var(--green-color);
        color: white;
        margin-top: 0;
    }
    #code-challenges > .projects{
        display: none;
    }
    .hidden-btn{
        display: flex;
        background-color: var(--background-color);
        padding: 5%;
    }
    footer{
        color: white;
        background-color: #1e2046;
    }
} 