.nav-bar{
  transition: 100ms;
  min-width: 100vw;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: end;
}

a{
  width: 50px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 10px;
  color: beige;
}

.left-arrow,
.right-arrow{
  transition: 600ms;
  opacity: 0;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.152), rgba(255, 255, 255, 0.036));
  border: 1px solid rgba(255, 255, 255, 0.226);
  backdrop-filter: blur(6px);
  z-index: 10;
}

.left-arrow:hover,
.right-arrow:hover{
  opacity: 1;
}

.left-arrow{
  left: 0;
}

.right-arrow{
  right: 0;
}