.nav-bar{
  transition: 100ms;
  min-width: 100vw;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: end;
}

a{
  width: 50px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 10px;
  color: beige;
}

.left-arrow,
.right-arrow{
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse infinite 2s alternate;
}

@keyframes pulse {
  to{
    transform: scale(1.2);
  }
}

.left-arrow{
  left: 0;
}

.right-arrow{
  right: 0;
}